*{
    margin: 0px;
    padding: 0px;
}
 
 
 body{
    font-family: "Montserrat", sans-serif;
}
 
 
.menu{
    list-style: none;
    display: flex;
    justify-content: right;
    margin-right: 10%;
}
 
 
 .menu li{
    padding: 15px;
    color: white;
    margin-top: 0px;
    padding-top: 25px;
}
 
 
.navbar{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 70px;
    background-image: url("header_img.jpg");
}
 
 
.logo{
    position: absolute;
    padding-left: 25%;
    margin-top: 11px;
}
 
 
.menu li:hover{ 
    border-top:3px white solid ;
    border-radius: 3px;
    padding-top: 22px;
}
 
 
.containerK{
    display: flex;
    justify-content: center;
}
 
 
#imgtournevis{
    height: 300px;
}
 
 
#imgpapier{
    height: 175px;
}
 
 
#imglunettes{
    height: 175px;
}
 
 
.containercategories{
    margin-top: 80px;
    margin-right: 70px;
}
 
 
.liste{
    margin-top: 30px;
    font-weight: 700;
}
 
 
.liste li{
    padding: 10px;
}
 
 
.containerblog{
    width: 30%;
    margin-top: 80px;
    margin-right: 70px;
}
 
 
#imgtournevis{
    margin-top: 40px;
}
 
 
#txtgoogle{
    margin-top: 30px;
    margin-bottom: 30px;
    color: blue;
}
 
 
#read{
    text-align: center;
    font-size: 13px;
    font-weight: 800;
    margin-top: 50px;
    border: 2px blue solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 400px;
}
 
 
.hotarch{ 
    margin-top: 50px;
}
 
 
.hotarch span{
    padding: 6px; 
    background-color: blue;
    color: white;
}
 

.containertags{
    margin-top: 80px;
    width: 15%;
 }
 
 
 .tags{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    height: 90px;
    flex-flow: column wrap;
    justify-content: start;
}
 
 
.tags div{
    font-size: small;
    padding: 5px;
    background-color: blue;
    color: white;
    margin-right: auto;
    margin-top: 3px;
}
 
 
#title4{
    margin-top: 40px;
}
 
 
#imgpapier{
    margin-top: 50px;
}
 
 
#payday{
    margin-top: 30px;
    color: blue;
}
 
 
#admin{
    margin-top: 30px;
}
 
 
#date{
    margin-top: 30px;
}
 
 
#imglunettes{
    margin-top: 30px;
}
 
 
#benefits{
    margin-top: 30px;
    color: blue;
}