* {
	padding: 0px;
	margin: 0px;
	border: 0px;
	box-sizing: border-box;
	font-family: monospace;
}

body {
	background-color: black;
	color: white;
	background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(9,9,9)),repeating-linear-gradient(135deg, rgb(9,9,9) 0px, rgb(9,9,9) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(82, 0, 0) 0px, rgb(75, 1, 1) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(9,9,9),rgb(9,9,9));
}

.menu {
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 15px;
	background-color: black;
	border-bottom: 2px solid;
	border-bottom-color: rgb(255, 0, 0);
	box-shadow: 1px 1px 1px rgb(255, 0, 0);
	margin-left: auto;
    margin-right: auto;
}

.menu a {
	border: 2.5px solid red;
	border-radius: 4px;
	color: white;
	min-width: 60px;
	padding: 0.4rem 0.65rem;
	text-align: center;
	text-decoration: none;
}

a:hover {
	color: rgb(255, 0, 0);
	background-color: rgb(75, 6, 6);
}

.menu>li {
	display: flex;
	align-items: center;
	height: 30px;
	font-size: 14px;
	margin: 0px 2.5%;
}

.menu>.ver{
	border-left: 2px solid red;
	display: block;
	height: 40px;
	width: 10px;
}

.MOI {
	font-size: 70px;
	margin-top: 250px;
	text-align: center;
}

.Nom {
	font-size: 70px;
	margin-top: 50px;
	text-align: center;
}

.menu .icn {
	border: 0px;
}

.menu .icn img {
	width: 30px;
}

#phid {
	width: 350px;
	float: right;
	margin: 0px 20px;
	padding: 5px;
	border: solid gray 2px;
}

.text_propos {
	font-size: 30px;
	padding-left: 40px;
	padding-right: 40px;
}

.formation {
	min-width: 120px;
	margin: 0.5rem;
	padding: 0.8rem 0.5rem;
	text-align: center;
	border: 2.5px solid red;
	border-radius: 4px;
	width: 50%;
	margin-left: 25%;
	margin-top: 30px;
	
}

.formation>p {
	font-size: 20px;
	line-height: 40px;
	color: white;
}

.barre {
	border-top: 2px solid;
	color: red;
	display: block;
	height: 40px;
	width: 40%;
	margin-left: 30%;
	margin-top: 8%;
}

.nom_propos {
	/*border: solid red 2px;*/
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.Nom_formation {
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
}

.formulaire {
	border: 4px solid red;
	border-radius: 4px;
	margin-left: 25%;
	margin-top: 5%;
	/*transform: translate(-50%,10%);*/
	width: 50%;
	text-align: center;
	font-size: 25px;
	padding-top: 50px;
}

.formulaire p {
	margin: 30px;
}

.form-status {
	display: flex;
	align-self: center;
	border-radius: 25px;
	padding: 10px;
	margin: 10px auto;
	border: 4px solid;
	font-size: calc(10px + 1.01vw);
	background-color: black;
	color: red;
	width: 70%;
}

.form-control {
	display: flex;
	align-self: center;
	border-radius: 25px;
	padding: 10px;
	margin: 10px auto;
	border: 4px solid;
	font-size: calc(10px + 1.01vw);
	background-color: black;
	color: red;
	width: 100%;
}

.btn-btn-default{
	display: inline-block;
	border-radius: 10px;
	padding: 10px;
	margin: 10px auto;
	font-size: calc(8px + 1.01vw);
	width: 30%;
	border: 6px solid red;
	background-color: black;
	color: rgb(255, 255, 255);
}

.btn-btn-default2{
	display:flex;
	border-radius: 10px;
	margin: 10px auto;
	font-size: calc(8px + 1.01vw);
	width: 10%;
	color: rgb(255, 255, 255);
	transform: translate(15%);
}

.btn-btn-default2 a{
	/*padding: 10% 20%;	
	color: white;
	text-decoration: none;*/
	border: 2.5px solid red;
	border-radius: 4px;
	color: white;
	min-width: 60px;
	padding: 0.4rem 0.65rem;
	text-align: center;
	text-decoration: none;
	background-color: black;
}

.btn-btn-default2 a:hover {
	color: red;
	background-color: rgb(51, 8, 8);
}

.btn-btn-default:hover{
	color: red;
	background-color: rgb(51, 8, 8);
}

@media (max-width: 1444px) {
	.Nom {
		font-size: 60px;
	}

	.menu>li{
		padding-left: 5px;
		font-size: 10px;
		margin: 4px 2%;
	}

	.formation>p {
		font-size: 15px;
		line-height: 35px;
	}
	
	.menu .icn img {
		width: 22px;
	}
}

@media (max-width: 1080px) {
	
	.formation>p {
		font-size: 12px;
		line-height: 25px;
	}

	.formulaire {
		width: 80%;
		margin-left: 10%;
	}
}

@media (max-width: 840px) {

	.btn-btn-default2{
		width: 100px;
	}

	.nom_propos {
		font-size: 17px;
	}
}

@media (max-width: 800px) {
	
	.menu{
		position: static;
		display: block;
		text-align: center;
	}

	.menu>li{
		display: block;
		padding-left: 5px;
		font-size: 14px;
	}

	.menu>.ver {
		display: none;
	}
	
	.menu .icn img {
	width: 30px;
	}
}

@media (max-width: 691px) {
	
	.Nom {
		font-size: 50px;
	}

	.MOI {
		font-size: 50px;
		margin-top: 200px;
	}
}

@media screen and (max-device-width: 1000px){

	.menu{
		position: static;
		display: block;
		text-align: center;
	}

	.menu a {
		border: 4px solid red;
	}

	.menu>li{
		display: block;
		padding-left: 5px;
		font-size: 25px;
		margin: 25px
	}

	.menu>.ver {
		display: none;
	}
	
	.menu .icn img {
		width: 40px;
	}

	.Nom {
		font-size: 60px;
	}

	.barre {
		border-top: 3.5px solid;
	}

	.formation {
		border: 4px solid red;
		width: 88%;
		margin-left: 6%;
	}

	.formation>p{
		font-size: 25px;
		line-height: 50px;
	}

	.Nom_formation {
		font-size: 70px;
	}

	.formulaire {
		width: 80%;
		margin-left: 10%;
	}

	.form-status {
		border-radius: 5px;
		width: 90%;
		border: 4px solid red;
		font-size: 30px;
	}

	.form-control{
		border-radius: 5px;
		border: 4px solid red;
		font-size: 30px;
	}

	.btn-btn-default{
		border-radius: 5px;
		border: 4px solid red;
		font-size: 30px;
		width: 40%;
	}

	#phid {
		width: 280px;
	}

	.btn-btn-default2{
		width: 100px;
		font-size: calc(20px + 1.01vw);
	}
	
	.btn-btn-default2 a{
		border: 4px solid red;
		border-radius: 6px;
		color: white;
		min-width: 180px;
		padding: 1.8rem 0.65rem;
		text-align: center;
		text-decoration: none;
		background-color: black;
		transform: translate(-25%);
	}
}

.container {
	margin: 20px 10px 50px;
	background-color: rgb(202, 4, 4);
	width: 60%;
	border-radius: 15px;
}

.skill {
	background-color: black;
	color: white;
	padding: 1%;
	text-align: right;
	font-size: 18px;
	border-radius: 15px;
	border-style: solid;
	border-color:rgb(202, 4, 4);
	border-width: 5px;
	margin-top: 15px;
}

.nom_skill {
	margin-left: 15px;
	font-size: 25px;
}

h2 {
	font-size: 20px;
	margin-top: 10px;
	text-align: justify;
}

h3 {
	margin-left: 10px;
	margin-top: 70px;
	margin-bottom: 30px;
	font-size: 35px;
}

@media (max-width: 691px) {
	
	h3 {
		font-size: 28px;
	}

	.skill {
		font-size: 15px;
		border-width: 4px;
	}

	.nom_skill {
		font-size: 20px;
	}
}