* {
	padding: 0px;
	margin: 0px;
	border: 0px;
	box-sizing: border-box;
	font-family: monospace;
}


body {
	background-color: black;
	color: white;
	background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(9,9,9)),repeating-linear-gradient(135deg, rgb(9,9,9) 0px, rgb(9,9,9) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(82, 0, 0) 0px, rgb(75, 1, 1) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(9,9,9),rgb(9,9,9));
}


.menu {
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 15px;
	background-color: black;
	border-bottom: 2px solid;
	border-bottom-color: rgb(255, 0, 0);
	box-shadow: 1px 1px 1px rgb(255, 0, 0);
	margin-left: auto;
    margin-right: auto;
}
.menu a {
	border: 2.5px solid red;
	border-radius: 4px;
	color: white;
	min-width: 60px;
	padding: 0.4rem 0.65rem;
	text-align: center;
	text-decoration: none;
}

.instagram>img {
	width: 20px;
	height: 20px;
}

a:hover {
	color: rgb(255, 0, 0);
	background-color: rgb(75, 6, 6);
}

.menu>li {
	display: flex;
	align-items: center;
	height: 30px;
	border: 1px black;
	font-size: 14px;
	margin: 0px 2.5%;
}

.menu>.ver{
	border-left: 2px solid red;
	display: block;
	height: 40px;
	width: 10px;
}

.MOI {
	font-size: 70px;
	margin-top: 250px;
	text-align: center;
}

.Nom {
	font-size: 70px;
	margin-top: 50px;
	text-align: center;
}

.menu .icn {
	border: 0px;

}
.menu .icn img {
	width: 30px;
}

#phid {
	float: right;
	margin: 0px 20px;
	padding: 5px;
	border: solid gray 2px;
}
@media (max-width: 1444px) {
	.menu>li{
		padding-left: 5px;
		font-size: 10px;
		margin: 0px 2%;
	}
}


@media (max-width: 691px) {
	.menu{
		position: static;
		display: block;
		text-align: center;
	}
	.menu>li{
		display: block;
		padding-left: 5px;
		font-size: 14px;
	}
	.menu>.ver {
		display: none;
	}
	.Nom {
		font-size: 50px;
	}
	.MOI {
		font-size: 50px;
		margin-top: 200px;
	}
}

.container {
	margin: 20px 10px 50px;
	background-color: rgb(202, 4, 4);
	width: 60%;
	border-radius: 15px;
}

.skill {
	background-color: black;
	color: white;
	padding: 1%;
	text-align: right;
	font-size: 18px;
	border-radius: 15px;
	border-style: solid;
	border-color:rgb(202, 4, 4);
	border-width: 5px;
	margin-top: 15px;
}

.nom_skill {
	margin-left: 15px;
	font-size: 25px;
}

.nom_propos {
	/*border: solid red 2px;*/
	text-align: center;
	font-size: 25px;
	margin-top: 15px;
}

h2 {
	font-size: 20px;
	margin-top: 10px;
	text-align: justify;
}

h3 {
	margin-left: 10px;
	margin-top: 70px;
	margin-bottom: 30px;
	font-size: 35px;
}

@media (max-width: 691px) {
	h3 {
		font-size: 28px;
	}
	.skill {
		font-size: 15px;
		border-width: 4px;
	}
	.nom_skill {
		font-size: 20px;
	}
}